ConsoleClientWCF/Connected Services/ServiceReference1/MyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MyFunc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="req" type="tns:Req" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Req">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyFuncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="MyFuncResult" type="tns:Res" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Res">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Birthdate" type="xs:dateTime" />
    </xs:sequence>
    <xs:attribute name="ID" type="xs:int" use="required" />
  </xs:complexType>
</xs:schema>